---
import PickAlphabetSection from "@/components/PickAlphabetSection";
import Layout from "@/layouts/Layout.astro";
import AnswerSection from "@/components/AnswerSection";
import GameNavbar from "@/components/GameNavbar";

const alphabet = Array.from({ length: 26 }, (_, i) =>
  String.fromCharCode(97 + i),
);
---

<Layout title="Game">
  <main class="flex min-h-screen w-full flex-col">
    <GameNavbar isHPVisible={true} client:only="react" />

    <AnswerSection client:only="react" />

    <PickAlphabetSection options={alphabet} client:only="react" />
  </main>
</Layout>

<script>
  import { initKeyboardListener } from "@/utils/keyboard";

  // Initialize keyboard listener when page loads
  if (typeof window !== "undefined") {
    // Wait for the page to be fully loaded
    window.addEventListener("load", () => {
      const cleanup = initKeyboardListener();

      // Optional: Cleanup on page unload
      window.addEventListener("beforeunload", () => {
        if (cleanup) cleanup();
      });
    });
  }
</script>
